/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #1b2f41;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
svg{
	margin-left: 20%;
}

/*effet christmas*/
@keyframes lettre {
	100%{
		transform: translatey(-10px);
	}
}
.lettre_c{
	animation: lettre 2s infinite linear;
	animation-delay: 1s;
}
.lettre_h{
	animation: lettre 2s infinite linear;
	animation-delay: 0.5s;
}
.lettre_point_i{
	animation: lettre 2s infinite linear;
	animation-delay: 1.5s;
}
.lettre_i{
	animation: lettre 2s infinite linear;
	animation-delay: 2s;
}
.lettre_s{
	animation: lettre 2s infinite linear;
	animation-delay: 0.8s;
}
.lettre_t{
	animation: lettre 2s infinite linear;
	animation-delay: 1.2s;
}
.lettre_m{
	animation: lettre 2s infinite linear;
	animation-delay: 0.10s;
}
.lettre_a{
	animation: lettre 2s infinite linear;
	animation-delay: 0.30s;
}
.lettre_s{
	animation: lettre 2s infinite linear;
	animation-delay: 0.25s;
}
.lettre_element{
	animation: lettre 2s infinite linear;
	animation-delay: 0.11s;
}
.lettre_s_fin{
	animation: lettre 2s infinite linear;
	animation-delay: 1s;
}
 /*fin effet christmas*/


#flocon_x5F_grand, #flocon_x5F_grand_9_, #flocon_x5F_grand_8_, #flocon_x5F_grand_7_,#flocon_x5F_grand_6_, #flocon_x5F_grand_5_, #flocon_x5F_grand_4_, #flocon_x5F_grand_3_, #flocon_x5F_grand_2_, #flocon_x5F_grand_1_,
#flocon_x5F_moyen, #flocon_x5F_moyen_1_,#flocon_x5F_moyen_2_,#flocon_x5F_moyen_3_,#flocon_x5F_moyen_4_, #flocon_x5F_moyen_5_,#flocon_x5F_moyen_6_,#flocon_x5F_moyen_7_,#flocon_x5F_moyen_8_,#flocon_x5F_moyen_9_,
#flocon_x5F_petit, #flocon_x5F_petit_1_, #flocon_x5F_petit_2_, #flocon_x5F_petit_3_, #flocon_x5F_petit_4_, #flocon_x5F_petit_5_, 
#flocon_x5F_petit_6_, #flocon_x5F_petit_7_, #flocon_x5F_petit_8_, #flocon_x5F_petit_9_, #flocon_x5F_petit_10_, #flocon_x5F_petit_11_, 
#flocon_x5F_petit_12_, #flocon_x5F_petit_13_, #flocon_x5F_petit_14_, #flocon_x5F_petit_15_{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#flocon_x5F_grand, #flocon_x5F_grand_9_,  #flocon_x5F_grand_8_, #flocon_x5F_grand_7_, #flocon_x5F_grand_6_, #flocon_x5F_grand_5_, #flocon_x5F_grand_4_, #flocon_x5F_grand_3_, #flocon_x5F_grand_2_, #flocon_x5F_grand_1_,
 #flocon_x5F_moyen, #flocon_x5F_moyen_1_,#flocon_x5F_moyen_2_,#flocon_x5F_moyen_3_,#flocon_x5F_moyen_4_, #flocon_x5F_moyen_5_,#flocon_x5F_moyen_6_,#flocon_x5F_moyen_7_,#flocon_x5F_moyen_8_,#flocon_x5F_moyen_9_,
 #flocon_x5F_petit, #flocon_x5F_petit_1_, #flocon_x5F_petit_2_, #flocon_x5F_petit_3_, #flocon_x5F_petit_4_, #flocon_x5F_petit_5_, 
 #flocon_x5F_petit_6_, #flocon_x5F_petit_7_, #flocon_x5F_petit_8_, #flocon_x5F_petit_9_, #flocon_x5F_petit_10_, #flocon_x5F_petit_11_,
  #flocon_x5F_petit_12_, #flocon_x5F_petit_13_, #flocon_x5F_petit_14_, #flocon_x5F_petit_15_{
	position: absolute;
	width: 100%;
	height: 100%;
}
@keyframes fall {
	
	100% {
		transform: translateY(270px);
	}
	
}

#flocon_x5F_grand, #flocon_x5F_grand_9_,  #flocon_x5F_grand_8_,  #flocon_x5F_grand_7_,  #flocon_x5F_grand_6_, #flocon_x5F_grand_5_, #flocon_x5F_grand_4_, #flocon_x5F_grand_3_, #flocon_x5F_grand_2_, #flocon_x5F_grand_1_{
	will-change: transform;
	animation: fall 15s infinite linear;
	
}
#flocon_x5F_moyen, #flocon_x5F_moyen_1_,#flocon_x5F_moyen_2_,#flocon_x5F_moyen_3_,#flocon_x5F_moyen_4_, #flocon_x5F_moyen_5_,#flocon_x5F_moyen_6_,#flocon_x5F_moyen_7_,#flocon_x5F_moyen_8_,#flocon_x5F_moyen_9_{
	will-change: transform;
	animation: fall 20s infinite linear;
	
}
#flocon_x5F_petit, #flocon_x5F_petit_1_, #flocon_x5F_petit_2_, #flocon_x5F_petit_3_, #flocon_x5F_petit_4_, #flocon_x5F_petit_5_, #flocon_x5F_petit_6_, 
#flocon_x5F_petit_7_, #flocon_x5F_petit_8_, #flocon_x5F_petit_9_, #flocon_x5F_petit_10_, #flocon_x5F_petit_11_, #flocon_x5F_petit_12_,
#flocon_x5F_petit_13_, #flocon_x5F_petit_14_, #flocon_x5F_petit_15_{
	will-change: transform;
	animation: fall 30s infinite linear;
	
}
#flocon_x5F_grand_6_{
	animation-delay: 1s;
}

#flocon_x5F_grand_5_{
	animation-delay: 1.5s;
}

#flocon_x5F_grand_4_{
	animation-delay: 2s;
}
#flocon_x5F_grand_3_{
	animation-delay: 2.5s;
}

#flocon_x5F_grand_2_{
	animation-delay: 3s;
}

#flocon_x5F_grand_1_{
	animation-delay: 3.5s;
}
/* fin flocon grand */

#flocon_x5F_moyen{
	animation-delay: 1s;
}

#flocon_x5F_moyen_1_{
	animation-delay: 1.5s;
}

#flocon_x5F_moyen_2_{
	animation-delay: 2s;
}
#flocon_x5F_moyen_3_{
	animation-delay: 2.5s;
}

#flocon_x5F_moyen_4_{
	animation-delay: 3s;
}
#flocon_x5F_moyen_8_{
	animation-delay: 1s;
}
/* fin flocon moyen*/

/* debut flocon petit*/
#flocon_x5F_petit{
	animation-delay: 4s;
}
#flocon_x5F_petit_1_{
	animation-delay: 3.5s;
}
#flocon_x5F_petit_2_{
	animation-delay: 3s;
}
#flocon_x5F_petit_3_{
	animation-delay: 10s;
}
#flocon_x5F_petit_4_{
	animation-delay: 8s;
}
#flocon_x5F_petit_5_{
	animation-delay: 5s;
}
#flocon_x5F_petit_6_{
	animation-delay: 3.5s;
}
#flocon_x5F_petit_7_{
	animation-delay: 2.5s;
}
#flocon_x5F_petit_8_{
	animation-delay: 2s;
}
#flocon_x5F_petit_9_{
	animation-delay: 0.5s;
}
#flocon_x5F_petit_10_{
	animation-delay: 2.8s;
}
#flocon_x5F_petit_11_{
	animation-delay: 15s;
}
#flocon_x5F_petit_12_{
	animation-delay: 13s;
}
#flocon_x5F_petit_13_{
	animation-delay:9s;
}
#flocon_x5F_petit_14_{
	animation-delay: 5s;
}
#flocon_x5F_petit_15_{
	animation-delay: 1s;
}
/*fin d'animation flocon*/

/*perenoyel*/

#pere_x5F_noyel{
	/* position: absolute; */
	height: 100%;
	width: 100%;
/* left: 0; */
}

#pere_x5F_noyel{ 
	-webkit-transform-origin : 50% 50%;
	-moz-transform-origin : 50% 50%;
	-ms-transform-origin : 50% 50%;
	-o-transform-origin : 50% 50%;
	transform-origin : 50% 50%;
	
	
   }
@keyframes perenoyel {
	0%{
	-webkit-transform: translateX(75px);
	transform: translateX(75px);
  }
  50%{
	-webkit-transform: translateX(-75px);
	transform: translateX(-75px);
  }
  51%{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
  }
  52%{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
  }
  99.9%{
	-webkit-transform: scaleX(-1) translateX(-200px);
	transform: scaleX(-1) translateX(-200px);
  }
  100%{
	-webkit-transform: scaleX(1) translateX(0px);
	transform: scaleX(1) translateX(0px);
  }
}
#pere_x5F_noyel{
	animation: perenoyel 35s linear infinite  ;


}

/* 
	@keyframes dim {
		0% {box-shadow:5px 5px 50px 15px rgba(255, 255, 255, 0.6),-5px -5px 50px 15px rgba(255, 255, 255, 0.6)}
		50% {box-shadow:5px 5px 50px 5px rgba(255, 255, 255, 0.6),-5px -5px 50px 5px rgba(255, 255, 255, 0.6)}
		100% {box-shadow:5px 5px 50px 30px rgba(255, 255, 255, 0.6),-5px -5px 50px 30px rgba(255, 255, 255, 0.6)}
	}

	#SVGID_10_{
		width: 80%;
		position: relative;
		margin: 15px auto;
		height: auto;
		line-height: 0;
		animation: dim 10s infinite ease-in-out alternate;
	} */

/*debut du formulaire*/
	form {
		/* Uniquement centrer le formulaire sur la page */
		margin: 0 auto;
		width: 50%;
				/* Encadré pour voir les limites du formulaire */
		padding: 1em;
		border: 1px solid #CCC;
		border-radius: 1em;  
	  }
	  
	  form div + div {
		margin-top: 1em;
	  }
	  
	  label {
		/* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
		display: inline-block;
		text-align: center;
	  }
	  
	  input, textarea {
		/* Pour s'assurer que tous les champs texte ont la même police.
		   Par défaut, les textarea ont une police monospace */
		font: 1em sans-serif;
		font-weight:bold;
	
	  
		/* Pour que tous les champs texte aient la même dimension */
		width: 70%;
		box-sizing: border-box;
		padding : 2px;
		margin-bottom: 10px;
	  
		/* Pour harmoniser le look & feel des bordures des champs texte */
		border: 1px solid #999;
	  }
	  
	  input:focus, textarea:focus {
		/* Pour souligner légèrement les éléments actifs */
		border-color: #000;
	  }
	  
	  textarea {
		/* Pour aligner les champs texte multi‑ligne avec leur étiquette */
		vertical-align: top;
		
	  
		/* Pour donner assez de place pour écrire du texte */
		height: 5em;
	  }
	  .form
	  {
		  color:white;
		  font-family:'Indie Flower', cursive;
		  font-weight: bold;
		  font-size: 20px;
		  margin-top: 10%;
	  }
	  #bouton_envoi{
		  margin-left: 21.70%;
	  }
h1{
	text-align: center;
	padding-bottom: 10%;
	margin-top: 10%;
	font-size: 30px;
}
@media ( max-width : 1280px ) {
	svg{
		margin-left: 25px;
		
}
	@media ( max-width : 992px ) {
	svg{
		width:1024px;
		margin-left:-25px;
	}

	@media (max-width:480px) {
	svg{

	 }
	}	