/* style page 404  */


/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
}
p {
	line-height: 1;
}
h1, h2 {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Font */

@font-face {
    font-family: 'Coming Soon', cursive;
    src: url(fonts/ComingSoon-Regular.ttf);
    } 

/* texte */

body {
    position: relative;
}

#warning {
    display: block;
    text-align: center;
    width: 50%;
    min-height: 65px;
    padding-top: 5px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    font-size: 35px;
    font-family: 'Coming Soon', cursive;
    color:#32808f;
    padding: 10px;
}

/* animation objets shake  */

#poissons{

    transform-origin: 50% 50%;
    position: absolute;
    animation: poissons-animation 8s infinite;    
}
@keyframes poissons-animation {
    0% {
      
      transform: translate(-5px);
    }

    100% {
      
      transform: translate(-300px);
    }
  }

  /* @keyframes demi-tour {
    0%   { transform: scaleX(1); }
    100%  { transform: scaleX(-1); }
    
  } */

  /* yeux personnages */
  
  @keyframes yeux {
    0%   {
        transform: translateX(0%);
    }
    25%  {
        transform: translateX(0.1%);
    }
    50%   {
        transform: translateX(0%);
    }
    75%  {
        transform: translateX(-0.1%);
    }
    100% {
        transform: translateX(0%);
    }
  }

#yeux {
    transform-origin: 50% 50%;
    animation: yeux 5s infinite;
    
  }

  /* requin */
  
  
  @keyframes requin {
    0%   {
        transform: translateY(0) translateX(-30%);
    }
    50%  {
        transform: translateY(5%) translateX(40%);
    }
    100% {
        transform: translateY(0) translateX(100%);
    }
  }

#requin {
    transform-origin: 50% 50%;
    animation: requin 30s infinite;
  }

/* animation pluie  */

@keyframes pluie {
    0% {
        opacity: 1;
      
      }
      50% {
        opacity: 0;
        
      }
      100%{
          opacity: 1;
            
      }  
}

#pluie {
    animation: pluie 3s alternate infinite;
    /* animation-delay: 1s; */
}

/* Rayan qui s'agite */

@keyframes plongeur {
    0%   {transform: translateY(0) ;}
    50%  {transform: translateY(1%);}
    100% {transform: translateY(0);}
  }

#plongeur {
    transform-origin: 50% 50%;
    animation: plongeur .5s linear alternate infinite;
  }

/* bus flottant  */
@keyframes bus {
    0%   {transform: translateY(0) ;}
    50%  {transform: translateY(3%);}
    100% {transform: translateY(0);}
  }

#bus {
    transform-origin: 0% 50%;
    animation: bus 50s alternate infinite;
  }


/* adaptation écrans  */

@media (max-width: 992px) {
    svg {
        min-height: 100vh;
    }

    #warning {
        font-size: 25px;
    }  
    
}

@media (max-width: 768px) { 

    svg {
        min-height: 100vh;
    }

    #warning {
        font-size: 20px;
    }

    
    
}


@media (max-width: 576px) { 
    svg {
        min-height: 100vh;
    }

    #warning {
        font-size: 15px;
        padding: 10px;
    }

