body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #7FC8EA;
}
p {


	font-family: 'Dancing Script', cursive;

	font-family: 'Sacramento', cursive;

	font-family: 'Marck Script', cursive;

	font-family: 'Parisienne', cursive;


}
/**************** NAV ***************/
.flexnav {
	display: flexbox;
	justify-content: space-between;
	background-color: #7FC8EA;
}
.flexnav img {
	max-width: 20%;
	margin: 13px;
}

/**************** HOME : la carte postale d'envoi ***************/

/*contenant du formulaire*/
#cartepostale {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: 'Dancing Script', cursive;
	padding:15px;
	background-image: repeating-linear-gradient(45deg, #FFF, #FFF 30px, rgba(245, 20, 20, 1) 10px, rgba(245, 20, 20, 1) 10px, rgba(78, 44, 246, 1) 50px);
	/*background-image: repeating-linear-gradient(45deg, #FFF, rgba(245, 20, 20, 1) 30px, #FFF 10px, rgba(78, 44, 246, 1)  10px, rgba(245, 20, 20, 1) 50px);*/
	margin-bottom: 40px;
}

#cartepostaleContenu {
	background-color: #FFF;
	/*color: #7FC8EA;*/
	padding: 30px 5px;
}
/*contenu du formulaire*/
.cartepostale { 
	display: flex;
	flex-direction: row;
	justify-content: center;
}



/*fond de page*/
.container {
	background-color: #7FC8EA;
	padding-top: 70px;
}
.cartepostale input, .cartepostale textarea {
	font-family: 'Dancing Script', cursive;
	font-size: 1.2em;
	width: 100%;
}
.cartepostale input[type='mail'], .cartepostale textarea, .cartepostale input[value='Envoyer'], .cartepostale input[type='text'] {
	border:none;
	border-bottom-style: solid;
	border-bottom-color: rgba(127, 200, 234, 0.4);
	border-bottom-width: 0.5px;
}
.cartepostale input[type='mail']:focus, .cartepostale textarea:focus, .cartepostale input[value='Envoyer']:focus, .cartepostale input[type='text']:focus {
	border:none;
	border-bottom-style: solid;
	border-bottom-color: rgba(127, 200, 234, 1);
	border-bottom-width: 0.5px;
}

.cartepostale input[type='submit'] {
	background-color: #FFF;
}

.cartepostale input[type='file'] {
	background-color: #FFF;
}

/**************** HOME : le dessin de ville ***************/
.dessinVille img {
	max-width: 50%;
	position: absolute;
	bottom: 0;
	max-height: 250px;
	left: 25%;

}

/**************** CONFIRMATION ***************/
/*Dessin*/
.dessinIle img{
	max-width: 50%;
	position: absolute;
	bottom: 0;
	max-height: 250px;
	right: 0;
}
/*.dessinIle {
	background-color: #7FC8EA;
	position: absolute;
	bottom: 0;
	}*/
	
	/*******************animation*****************/
	/*Keyframes*/Keyframes
	@keyframe TitanicTranslate {
		0% {

		}
		50% {

		}
		100% {

		}
	}

	@keyframe icebergAppears {
		0% {
		transform: translateY(300px);
		}
		100% {
			transform: translateY(0px);
		}
	}
	/*Titanic VS Iceberg*/
	#boat {
		animation: 5s TitanicTranslate ease-in-out infinite;
	}
	#iceberg {
	position: absolute;
		animation: icebergAppears 3s ease-in 1s infinite reverse both running;
	}



	/******************* media queries ************************/
	@media all and (max-width: 992px) {

		#cartepostale {
			width: 75%;
		}
	}

	@media all and (max-width: 768px) {
		.cartepostale { 
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}