body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #7FC8EA;
}
p {
	font-family: 'Sacramento', cursive;
	font-family: 'Marck Script', cursive;
	font-family: 'Parisienne', cursive;
	font-family: 'Dancing Script', cursive;
	font-family: 'Damion', cursive;

}
/**************** NAV ***************/
.flexnav {
	/*display: flexbox;
	justify-content: space-between;*/
	background-color: #7FC8EA;
}
.flexnav img {
	display: block;
	max-width: 20%;
	margin: 13px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/**************** HOME : la carte postale d'envoi ***************/
.titreHome {
	margin: 0 30px;
}
/*contenant du formulaire*/
#cartepostale {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: 'Dancing Script', cursive;
	padding:15px;
	background-image: repeating-linear-gradient(45deg, #FFF, #FFF 30px, rgba(245, 20, 20, 1) 10px, rgba(245, 20, 20, 1) 10px, rgba(78, 44, 246, 1) 50px);
	/*background-image: repeating-linear-gradient(45deg, #FFF, rgba(245, 20, 20, 1) 30px, #FFF 10px, rgba(78, 44, 246, 1)  10px, rgba(245, 20, 20, 1) 50px);*/
	margin-bottom: 40px;
	box-shadow: 5px 5px 5px rgba(73, 86, 26, 0.4);
}

#cartepostaleContenu {
	background-color: #FFF;
	/*color: #7FC8EA;*/
	padding: 30px 5px;
	font-family: 'Damion', cursive;
}
#cartepostaleContenu p {
	font-family: 'Dancing Script', cursive;
	font-size: x-large;
}
/*contenu du formulaire*/
.cartepostale { 
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.blocFichiers div {
	font-size: 1.5rem;
}
.blocRenseignements {
	font-size: large;
}
#resultat{
	text-align: center;
}
/*fond de page*/
.container {
	background-color: #7FC8EA;
	padding-top: 10px;

}
/*#uploadID {
display: none;
}*/
.cartepostale input, .cartepostale textarea {
	font-family: 'Dancing Script', cursive;
	font-size: 1.2em;
	width: 95%;
	margin: 3px 0;
}
.cartepostale input[type='email'], .cartepostale textarea, .cartepostale input[value='Envoyer'], .cartepostale input[type='text'] {
	border:none;
	border-bottom-style: solid;
	border-bottom-color: rgba(127, 200, 234, 0.2);
	border-bottom-width: 0.5px;
}
.cartepostale input[type='email']:focus, .cartepostale textarea:focus, .cartepostale input[value='Envoyer']:focus, .cartepostale input[type='text']:focus {
	border:none;
	border-bottom-style: solid;
	border-bottom-color: rgba(127, 200, 234, 1);
	border-bottom-width: 0.5px;
}

.cartepostale input[type='submit'] {
	background-color: #FFF;
}

.cartepostale input[type='file'] {
	background-color: #FFF;
}

#resultat {
	font-size: 1.5em;
	font-family: 'Parisienne', cursive;

}
#emaildes, #emailexp {
	border: none;
	border-bottom-style: solid;
	border-bottom-color: rgba(127, 200, 234, 0.2);
	border-bottom-width: 0.5px;
}
#emaildes:focus, #emailexp:focus {
	border-bottom-color: rgba(127, 200, 234, 1);

}
/**************** HOME : le dessin de ville ***************/
.dessinVille img {
	width: 500px;
	position: absolute;
	bottom: 0;
	max-height: 350px;
	left: 50%;
	margin-left: -250px;
	z-index: -2;
}
.dessinVille {
	
}
/**************** CONFIRMATION ***************/
/*Dessin*/
.dessinIle img{
	max-width: 50%;
	position: absolute;
	bottom: 0;
	max-height: 250px;
	right: 0;
}
/*.dessinIle {
	background-color: #7FC8EA;
	position: absolute;
	bottom: 0;
	}*/
	#cartepostaleContenu > p > a {
		font-family: 'Damion', cursive;
}
#cartepostaleContenu {
	text-align: center;
}
	/*******************animation*****************/
	/*Keyframes*/
	

		@keyframes TitanicTranslate {
			0% {
				transform: translateX(-500px);
			}
			20% {
				transform: translateX(30px);
			}
			25% {
				transform: translateX(64px);
			}
			30%{
				transform: rotate(90deg) translateX(50px);
			}	
			40%{
				transform: rotate(90deg) translateX(100px);
			}
			100% {
				transform: rotate(90deg) translateX(360px);

			}
		}

		@keyframes icebergAppears {
			0% {
				transform: translate(0,400px);
			}
			15% {
				transform: translate(0,200px);
			}
			
			35%{
				transform: translateY(-10px);
			}
			38%{
				transform: translateY(10px);
			}
			41% {
				transform: translateY(-10px);
			}
			44% {
				transform: translateY(8px);
			}
			48%{
				transform: translateY(-8px);
			}
			52%{
				transform: translateY(6px);
			}
			56%{
				transform: translateY(-6px);
			}
			64%{
				transform: translateY(5px);
			}
			100%{
				transform: translateX(0);
			}
		}
		/*Titanic VS Iceberg*/
		.titanic {
			z-index: 1000;
		/*position: relative;
		left:0%;
		top: 50%;*/
		width: 100%;
		margin-right:auto;
		margin-left: auto;
	}
	#boat {
		transform-origin: 40% 40%;
		animation:  TitanicTranslate 35s linear 1s ;
		z-index: 9954544;
	}
	#iceberg {
		position: absolute;
		animation: icebergAppears 13s ease-in 1s   both running;
		z-index: 5555556;
		right:10px;
	}

svg {
	width: 100%;
}

#titanicus {


}
	/******************* media queries ************************/
	@media all and (max-width: 992px) {

		#cartepostale {
			width: 75%;
		}
		.dessinVille img {
	max-width: 300px;
	position: absolute;
	bottom: 0;
	max-height: 250px;
	left: 50%;
	margin-left: -150px;

}
	}

	@media all and (max-width: 768px) {
		.cartepostale { 
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.titreHome {
	margin: 0 5px;
	font-size: 1.1rem;
}
	}